body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222831;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input#searchInput:focus{
  border: 0px !important;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

button#searchBtn:focus{
  box-shadow: 0 0 0 0.2rem transparent !important;
}

.row{
  margin:0px !important;
}
